MODE=dev
DEBUG=True
SECRET_KEY=

CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

DB_HOST=tsa_db
DB_PORT=5432

POSTGRES_DB=trucksigns_db
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_password

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
ALLOWED_HOSTS=localhost,127.0.0.1,tsa-web

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=adminpassword
