name: Lint and Test Python Code Base

on:
    push:
        branches: ["main"]
        paths:
            - "**/*.py"
            - "requirements.txt"
    pull_request:
        branches: ["main"]
        paths:
            - "**/*.py"
            - "requirements.txt"

permissions:
    contents: read
    pull-requests: write

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Set up Python 3.12
              uses: actions/setup-python@v6
              with:
                  python-version: "3.12"
            - name: Install Dependencies
              run: |
                  pip install -r requirements.txt
            - name: Lint and Check Formatting
              run: |
                  echo "Running flake8 and black"
                  flake8 .
                  black --check .
                  isort --check-only .

    test:
        runs-on: ubuntu-latest
        needs: lint
        steps:
            - uses: actions/checkout@v5
            - name: Set up Python 3.12
              uses: actions/setup-python@v6
              with:
                  python-version: "3.12"
            - name: Install Dependencies
              run: |
                  pip install -r requirements.txt
            - name: Run Django Tests
              working-directory: src
              run: |
                  python manage.py test --verbosity=2
